#contain {
  margin-top: 200px;
}
#main {
  margin-top: 50px;
}
#td {
  cursor: pointer;
}
#options{
   display: flex;
   justify-content: center;
   gap: 30px;
   margin-bottom: 30px;
  
}
#options>select{
   width: 200px;
   background-color: rgb(220, 219, 219);
}
#options>input{
  width: 300px;
}
#btn{
  background-color: yellow;
  border:6px solid yellow;
   border-radius: 5px;
   color: rgb(47, 31, 31);
}