#nav {
  height: 80px;
  width: 100%;
  padding: 30px;
  display: flex;
  gap: 50px;
  justify-content: center;
  background-color: rgb(231, 231, 231);
}
#nav > a {
  text-decoration: none;
  font-size: 20px;
  color: black;
  font-weight: bold;
}
